<h4>商品編集</h4>
<%= form_with model: @item, url: admin_item_path do |f| %>
  商品画像
  <%= f.file_field :image, accept: "image/*" %>
  商品名
  <%= f.text_field :name,  placeholder: "商品名" %>
  商品説明
  <%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %>
  ジャンル
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
  税抜価格
  <%= f.number_field :price, placeholder: "1000" %>円
  販売ステータス
  <%= f.radio_button :is_sold_out, :false, checked: true %>
  <%= f.label :status_false, "販売中" %>
　<%= f.radio_button :is_sold_out, :true %>
  <%= f.label :status_true, "販売停止中" %>
  <%= f.submit "変更を保存" %>
<% end %>