<h4><%= @customer.full_name %>さんの会員詳細</h4>
会員ID
<%= @customer.id %>
氏名
<%= @customer.last_name %>　<%= @customer.first_name %>
フリガナ
<%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
郵便番号
<%= @customer.postcode %>
住所
<%= @customer.address %>
電話番号
<%= @customer.telephone_number %>
メールアドレス
<%= @customer.email %>
会員ステータス
<% if @customer.is_deleted == true %>
  <p class="text-secondary">退会</p>
<% else %>
  <p class="text-success">有効</p>
<% end %>
<%= link_to "編集する", edit_admin_customer_path(@customer) %>
<%= link_to "注文履歴一覧を見る", admin_path %>