<div class = "container">
  <div class = "row">
    <h5>注文履歴詳細</h5>
  </div>
  <div class = "row">
    <table>
      <tr><th>購入者</th><td><%= @order.customer.full_name %></td></tr>
      <tr><th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
      <tr>
        <th>配送先</th>
          <td>
            〒<%= @order.ship_postcode %>
              <%= @order.ship_address %><br>
              <%= @order.ship_name %>
          </td>
      </tr>
      <tr><th>支払方法</th><td><%= @order.payment_method_i18n %></td></tr>
      <tr>
        <th>注文ステータス</th>
         <td>
           <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
           <%= f.select :status,  Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
           <%= f.submit "更新" , class: "btn btn-success btn-sm" %>
           <% end %>
         </td>
      </tr>
    </table>
  </div>
    <div class = "row">
      <div class = "col-7">
      <table class = "table border-top border-bottom">
        <thead class = "table-secondary">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= (order_item.item.price*1.08).to_i %></td>
            <td><%= order_item.quantity %></td>
            <td><%= (order_item.quantity*(order_item.item.price*1.08)).to_i %></td>
            <td>
              <%= form_with model: order_item, url: admin_order_item_path(order_item), method: :patch, local: true do |f| %>
              <%= f.select :product_status,  OrderItem.product_statuses.keys.map {|k| [I18n.t("enums.order_item.product_status.#{k}"), k]} %>
            </td>
            <td>
              <%= f.submit "更新" , class: "btn btn-success btn-sm" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <div class = "col-4 offset-1 align-self-end mb-3">
        <table>
          <tr><th>商品合計</th><td><%= (@order.total_price - @order.shipping_fee).to_i %>円</td></tr>
          <tr><th>送料</th><td><%= @order.shipping_fee %>円</td></tr>
          <tr><th>請求金額合計</th><th><%= @order.total_price %>円</th></tr>
        </table>
      </div>
    </div>
</div>