<h4>配送先登録 / 一覧</h4>
<%= form_with model: @address, url: addresses_path do |f| %>
  郵便番号（ハイフンなし）
  <%= f.text_field :postcode, placeholder: "0000000" %>
  住所
  <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  宛名
  <%= f.text_field :name, placeholder: "令和道子" %>
  <%= f.submit "新規登録" %>
<% end %>

<% @addresses.each do |address| %>
  郵便番号
  <%= address.postcode %>
  住所
  <%= address.address %>
  宛名
  <%= address.name %>
  <%= link_to "編集する", edit_address_path(address) %>
  <%= link_to "削除する", address_path(address), method: :delete %>
<% end %>